.login__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 400px);
}
.login__ p {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
.login__ button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}
.login__ button:hover {
    background-color: green;
    color: white;
    border-radius: 5px;
}