.footer {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: black;
    color: aliceblue;
}
.footer ul {
    list-style: none;
}
.footer h1 {
    margin-bottom: 15px;
}
.footer ul li { 
    margin-bottom: 10px;
}